#menu-container {
  display: none;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .sidebar.visible {
    display: flex;
    flex-direction: column;
  }
  #main-content {
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
  }
  header {
    display: flex;
    justify-content: center;
  }
  header a {
    padding-right: 50px;
  }
  main {
    display: block;
  }
  .hamburger {
    display: flex;
  }
  .form-container {
    padding-right: 30px;
    width: 110%;
  }
  #nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 0;
    right: 10;
  }
  .nav-list li {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: static;
  }
  #tools {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
  }
}

@media (min-width: 770px) {
  #menu-container {
    display: flex;
    justify-content: space-evenly;
  }

  .hamburger {
    display: none;
  }
  nav {
    padding: 10px;
  }
}
